@import "tailwindcss";
/* styles.css ya da index.css */

html {
  font-size: 16px;
}


.roboto-font {
  font-family: 'Roboto', sans-serif !important;
}
.cursorr{
   cursor: url('/cursor.cur'), auto;
}