@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

/* Global CSS */

body {
  margin: 0;
  background-color: #1a1a1a;
  color: wheat;
  font-family: 'Roboto', sans-serif;
}

.roboto-font {
  font-family: 'Poppins', sans-serif !important;
}

.cursorr {
  cursor: url('/cursor.cur'), auto;
}
