@import "tailwindcss";
/* styles.css ya da index.css */

*{
  padding: 0;
  margin: 0;
}


.roboto-font {
  font-family: 'Roboto', sans-serif !important;
}
.cursorr{
   cursor: url('/cursor.cur'), auto;
}